.display-inline {
  display: inline; }

.above-normal-space {
  margin-top: 1rem; }

.select-order-dir-wrapper {
  min-width: 16rem; }

.full-width-center {
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=app.css.map */
